//-logo
-
	var menu = [
		//- { 
		//- 	"title": "開版作品",
		//- 	"href": "index.html",
		//- 	"target":""
		//- },
		{ 
			"title": "我的履歷",
			"href": "https://drive.google.com/file/d/1Z5d3eoPt7Ggb6CF-dDlPCc4udjbcH7r8/view?usp=sharing",
			"target":"_blank"
		},
	]
//-個人介紹 
-
	var nameData = [
		{ 
			"class": "",
			"title": "林育萱",
			"title2": "網頁設計八年經驗",
			"sub":[
				{
					"title":"",
					"list":[
						{"text":"專案設計(畫版、切版)。"},
						{"text":"專案統整分配。"},
						{"text":"與客戶進行專案風格溝通。"},
						{"text":"後續網站後台管理教學。"},
						{"text":"與程式設計等相關人員配合，協同執行專案。"},
						{"text":"日程管控。"},
						{"text":"安裝資料庫與簡易PHP程式修改。"},
					]
				},
				{
					"title": "工具",
					"list":[
						{"text":"CSS3、HTML5、JQ、Js、SASS、RWD、Ｇit、gulp、bootstrap"},
						{"text":"jade/pug"},
						{"text":"Vue (略懂)"},
						{"text":"Nuxt"},								
					]
				},
				{
					"title": "其他工具",
					"list":[
						{"text":"Photoshop、Illustrator、Sublime、Vscode"},					
					]
				},
				{
					"title": "作網站類型",
					"list":[
						{"text":"企業網站、購物網站、活動網站、詢價網站、工會網站、公益網站。"},					
					]
				},
				{
					"title": "未來計劃",
					"list":[
						{"text":"未來想要再精進，學習後端程式以及app開發。"},					
					]
				},
			],
		},
	]



//- 資料
-
	var workData = [
		{
			"title":"Ｕre日系服裝",
			"type":"網頁畫板、切版",
			"linkurl":"http://www.bigbeauty.com.tw/",
			"imgsrc":"https://live.staticflickr.com/785/39578870900_95cbc95916_b.jpg"
		},
		{
			"title":"麗嬰房2018春夏網站",
			"type":"網頁畫板、切版",
			"linkurl":"https://www.phland.com.tw/event/2018ss/",
			"imgsrc":"https://farm1.staticflickr.com/802/40673945794_7100741ea4_b.jpg"
		},
		{
			"title":"怡聚科技",
			"type":"網頁畫板、切版",
			"linkurl":"http://www.ichutechnology.com/tw/",
			"imgsrc":"https://farm1.staticflickr.com/871/39578870450_dc29d894f8_b.jpg"
		},
		{
			"title":"維克爾科技有限公司",
			"type":"網頁畫板、切版",
			"linkurl":"http://weikeer.com/",
			"imgsrc":"https://farm1.staticflickr.com/808/40673946284_cb94b23b44_z.jpg"
		},
		{
			"title":"大鈞醫美診所",
			"type":"網頁切版",
			"linkurl":"https://www.bigbeauty.com.tw/about.php",
			"imgsrc":"https://farm1.staticflickr.com/815/39578870670_de200422ae_z.jpg"
		},
		{
			"title":"防潮家",
			"type":"網頁畫板、切版",
			"linkurl":"https://www.satv.com.tw/about.php",
			"imgsrc":"https://live.staticflickr.com/65535/50246143558_7d469d0911_b.jpg"
		},
		{
			"title":"麗嬰房2018世界地球日",
			"type":"網頁畫板、切版",
			"linkurl":"https://www.phland.com.tw/event/2018earthday/index.php",
			"imgsrc":"https://farm1.staticflickr.com/808/39578870890_c3ce5e2b0a_z.jpg"
		},
		{
			"title":"約客頂級汽車旅館",
			"type":"網頁畫板、切版",
			"linkurl":"http://www.yorker.com.tw/",
			"imgsrc":"https://farm1.staticflickr.com/795/39578870770_04e5c79b7e_b.jpg"
		},
	];
//- banner 第一張圖一定要有 active
-
	var bannerData = [
		{ 	
			"class": "active",
			"title": "功夫全明星",
			"title1": "",			
			"spot1": "",			
			"spot1src": "",
			"src": "img/banner1_1.jpg",
			"text": "",
			"sub": "",
		},
		{ 
			"class": "",
			"title": "功夫全明星",
			"title1": "",
			"spot1": "",
			"spot1src": "",
			"src": "img/banner1_1.jpg",
			"text": "",
			"sub": "",
		},
	]

-
	var contactMenu = [
		{"title":"客服中心","url":"game.html","class":"active"},
	]